<article class="flex flex-col gap-8 lg:flex-row">
  <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0">
    <%= link_to @story do %>
      <img src="<%= image_url %>" alt="" class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover">
      <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
    <% end %>
  </div>

  <div>
    <div class="flex items-center gap-x-4 text-xs">
      <%= render Stories::PublicationDate.new(@story.data.date, @story.data.updated) %>
    </div>
    <div class="relative">
      <h3 class="mt-1 text-lg font-semibold leading-6 text-gray-900">
        <%= link_to @story do %>
          <%= @story.data.title %>
        <% end %>
      </h3>
      <p class="mt-2 text-sm leading-6 text-gray-600"><%= @story.data.summary %></p>
      <p class="mt-1 text-sm leading-6">
        <%= link_to "Read More...", @story, class: 'link' %>
      </p>
    </div>
    <div class='flex flex-col mt-1 md:mt-3 gap-y-4'>
      <%= render Stories::Categories.new(@story.data.categories) %>
    </div>
  </div>
</article>
