<!doctype html>
<html lang="<%= site.locale %>" class='min-h-full'>
  <head>
    <%= render "head", metadata: site.metadata, title: data.title %>
  </head>
  <body class="<%= data.layout %> <%= data.page_class %> min-h-full bg-gradient-to-b from-red-50/20 to-indigo-50/10">
    <%= render Shared::Navbar.new(metadata: site.metadata, resource: resource, tab: data.tab) %>

    <main class="mx-auto max-w-prose my-8">
      <%= yield %>
    </main>

    <%= render "footer", metadata: site.metadata %>
  </body>
</html>
