---
layout: default
---

<%= render Stories::PublicationDate.new(data.date, data.updated) %>

<div class='flex flex-col gap-y-2'>
  <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"><%= data.title %></h1>
  <p class="text-xl leading-8"><%= data.summary %></p>

  <div class="border-y border-gray-200">
    <dl class="sm:divide-y sm:divide-gray-200">
      <%= render(Shared::DescriptionListRow.new("License")) do %>
        <%= render 'cc_by' %>
      <% end %>
      
      <%= render(Shared::DescriptionListRow.new("Authors")) do %>
        <%= render Stories::Authors.new(data.authors, show_title: false) %>
      <% end %>
      
      <%= render(Shared::DescriptionListRow.new("Categories")) do %>
        <%= render Stories::Categories.new(data.categories, show_title: false) %>
      <% end %>
    </dl>
  </div>
</div>

<div class="mt-6 prose">
  <%= yield %>
</div>