---
layout: default
---

<%= render Stories::PublicationDate.new(data.date, data.updated) %>

<div class='flex flex-col gap-y-2'>
  <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"><%= data.title %></h1>

  <p class="text-xl leading-8"><%= data.summary %></p>

  <%= render 'cc_by' %>

  <%= render Stories::Authors.new(data.authors) %>
  <%= render Stories::Categories.new(data.categories) %>
</div>

<div class="mt-6">
  <%= yield %>
</div>