---
layout: default
---

<%= render Stories::PublicationDate.new(data.date, data.updated) %>

<div class='flex flex-col gap-y-2'>
  <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"><%= data.title %></h1>
  
  <div class="block md:hidden">
    <img src="https://images.unsplash.com/photo-<%= data.unsplash_id -%>?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800" alt="" class='block rounded-lg'>
  </div>

  <div class="border-y border-gray-200">
    <dl class="sm:divide-y sm:divide-gray-200">
      <%= render(Shared::DescriptionListRow.new("About", data.summary)) %>

      <%= render(Shared::DescriptionListRow.new("License")) do %>
        <%= render 'cc_by' %>
      <% end %>

      <%= render(Shared::DescriptionListRow.new("Authors")) do %>
        <%= render Stories::Authors.new(data.authors, show_title: false) %>
      <% end %>

      <%= render(Shared::DescriptionListRow.new("Categories")) do %>
        <%= render Stories::Categories.new(data.categories, show_title: false) %>
      <% end %>
    </dl>
  </div>
</div>

<div class="mt-6 prose">
  <div class="font-semibold text-x mb-1">Story</div>

  <div class='text-2xl flex flex-col gap-y-4 bg-gray-50/50 p-2 border rounded-lg border-gray-100'>
    <div>
      As a <strong><%= data.story.as_a %></strong>,
    </div>
    <div>
      I want to <strong><%= data.story.i_want_to %></strong>,
    </div>
    <div>
      So that I can <strong><%= data.story.so_that_i_can %>.</strong>
    </div>
  </div>

  <%= yield %>
</div>